{"openapi":"3.1.0","info":{"title":"GPT-5.5 Local Utility Tools for API.market","version":"1.0.0","description":"Ordinary REST wrapper for deterministic developer utilities intended for API.market source import. These endpoints do not call an LLM, do not spend upstream tokens, and do not fetch arbitrary remote URLs. Commercial access, subscriber authentication, quotas, and billing should be configured in API.market.","x-api-market-positioning":"Use this API Source for low-risk deterministic tools with near-zero upstream cost. LLM chat and web-fetch tools are intentionally excluded from this API.market wrapper."},"servers":[{"url":"https://gpt55.558686.xyz/api-market"}],"tags":[{"name":"utility-tools","description":"Deterministic text, JSON, encoding, hashing, URL parsing, and developer utilities."}],"paths":{"/v1/tools/text-stats":{"get":{"summary":"Count words, lines, bytes, and reading time via query parameters","operationId":"getTextStatsApiMarketGet","tags":["utility-tools","text-stats","word-count","character-count","text-analysis","developer-tool","utility","no-llm"],"description":"Analyze text length, words, lines, sentences, paragraphs, bytes, and estimated reading time without calling an upstream model. This API.market source endpoint is deterministic local compute only and has no upstream token cost. Use API.market pricing plans for subscriber billing and access control.","security":[],"parameters":[{"name":"text","in":"query","required":true,"schema":{"type":"string","minLength":1,"maxLength":20000},"example":"Hello world.\nThis is a short text."}],"responses":{"200":{"description":"Count words, lines, bytes, and reading time","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean"},"tool":{"type":"string"},"fetchedAt":{"type":"string"},"x402Lead":{"$ref":"#/components/schemas/ApiMarketX402Lead"}},"required":["ok","tool","fetchedAt"],"additionalProperties":true},"example":{"ok":true,"tool":"textStats","chars":34,"bytes":34,"words":7,"lines":2,"sentences":2,"paragraphs":1,"readingTimeMinutes":0.04,"fetchedAt":"2026-06-10T00:00:00.000Z","x402Lead":{"paidChatTier":"https://gpt55.558686.xyz/v1/chat/completions/gpt-5.5","merchantReadiness":"https://gpt55.558686.xyz/x402/merchant-readiness","x402Discovery":"https://gpt55.558686.xyz/.well-known/x402","trackedPaidChatTier":"https://gpt55.558686.xyz/go/api-market/gpt55-chat-tier","trackedMerchantReadiness":"https://gpt55.558686.xyz/go/api-market/merchant-readiness","trackedX402Discovery":"https://gpt55.558686.xyz/go/api-market/x402-discovery","note":"This API.market utility response is deterministic lead-gen. GPT-5.5 quota-tier chat, high-value seller reports, and merchant-readiness products are discoverable through the unified service hub and x402 discovery."}}}}},"400":{"description":"Invalid input","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMarketError"}}}},"429":{"description":"Rate limit exceeded","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMarketError"}}}}}},"post":{"summary":"Count words, lines, bytes, and reading time","operationId":"getTextStatsApiMarketPost","tags":["utility-tools","text-stats","word-count","character-count","text-analysis","developer-tool","utility","no-llm"],"description":"Analyze text length, words, lines, sentences, paragraphs, bytes, and estimated reading time without calling an upstream model. This API.market source endpoint is deterministic local compute only and has no upstream token cost. Use API.market pricing plans for subscriber billing and access control.","security":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"text":{"type":"string","minLength":1,"maxLength":20000}},"required":["text"],"additionalProperties":false},"examples":{"simple":{"value":{"text":"Hello world.\nThis is a short text."}}}}}},"responses":{"200":{"description":"Count words, lines, bytes, and reading time","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean"},"tool":{"type":"string"},"fetchedAt":{"type":"string"},"x402Lead":{"$ref":"#/components/schemas/ApiMarketX402Lead"}},"required":["ok","tool","fetchedAt"],"additionalProperties":true},"example":{"ok":true,"tool":"textStats","chars":34,"bytes":34,"words":7,"lines":2,"sentences":2,"paragraphs":1,"readingTimeMinutes":0.04,"fetchedAt":"2026-06-10T00:00:00.000Z","x402Lead":{"paidChatTier":"https://gpt55.558686.xyz/v1/chat/completions/gpt-5.5","merchantReadiness":"https://gpt55.558686.xyz/x402/merchant-readiness","x402Discovery":"https://gpt55.558686.xyz/.well-known/x402","trackedPaidChatTier":"https://gpt55.558686.xyz/go/api-market/gpt55-chat-tier","trackedMerchantReadiness":"https://gpt55.558686.xyz/go/api-market/merchant-readiness","trackedX402Discovery":"https://gpt55.558686.xyz/go/api-market/x402-discovery","note":"This API.market utility response is deterministic lead-gen. GPT-5.5 quota-tier chat, high-value seller reports, and merchant-readiness products are discoverable through the unified service hub and x402 discovery."}}}}},"400":{"description":"Invalid input","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMarketError"}}}},"429":{"description":"Rate limit exceeded","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMarketError"}}}}}}},"/v1/tools/hash-text":{"get":{"summary":"Hash text with SHA or MD algorithms via query parameters","operationId":"hashTextApiMarketGet","tags":["utility-tools","hash","sha256","checksum","developer-tool","crypto","utility","no-llm"],"description":"Hash short text with sha256, sha512, sha1, or md5 and return hex/base64/base64url digests without calling an upstream model. This API.market source endpoint is deterministic local compute only and has no upstream token cost. Use API.market pricing plans for subscriber billing and access control.","security":[],"parameters":[{"name":"text","in":"query","required":true,"schema":{"type":"string","minLength":1,"maxLength":20000},"example":"hello"},{"name":"algorithm","in":"query","required":false,"schema":{"type":"string","enum":["sha256","sha512","sha1","md5"]},"example":"sha256"},{"name":"encoding","in":"query","required":false,"schema":{"type":"string","enum":["hex","base64","base64url"]},"example":"hex"}],"responses":{"200":{"description":"Hash text with SHA or MD algorithms","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean"},"tool":{"type":"string"},"fetchedAt":{"type":"string"},"x402Lead":{"$ref":"#/components/schemas/ApiMarketX402Lead"}},"required":["ok","tool","fetchedAt"],"additionalProperties":true},"example":{"ok":true,"tool":"hashText","algorithm":"sha256","encoding":"hex","digest":"2cf24dba5fb0a30e26e83b2ac5b9e29e1b161e5c1fa7425e73043362938b9824","fetchedAt":"2026-06-10T00:00:00.000Z","x402Lead":{"paidChatTier":"https://gpt55.558686.xyz/v1/chat/completions/gpt-5.5","merchantReadiness":"https://gpt55.558686.xyz/x402/merchant-readiness","x402Discovery":"https://gpt55.558686.xyz/.well-known/x402","trackedPaidChatTier":"https://gpt55.558686.xyz/go/api-market/gpt55-chat-tier","trackedMerchantReadiness":"https://gpt55.558686.xyz/go/api-market/merchant-readiness","trackedX402Discovery":"https://gpt55.558686.xyz/go/api-market/x402-discovery","note":"This API.market utility response is deterministic lead-gen. GPT-5.5 quota-tier chat, high-value seller reports, and merchant-readiness products are discoverable through the unified service hub and x402 discovery."}}}}},"400":{"description":"Invalid input","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMarketError"}}}},"429":{"description":"Rate limit exceeded","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMarketError"}}}}}},"post":{"summary":"Hash text with SHA or MD algorithms","operationId":"hashTextApiMarketPost","tags":["utility-tools","hash","sha256","checksum","developer-tool","crypto","utility","no-llm"],"description":"Hash short text with sha256, sha512, sha1, or md5 and return hex/base64/base64url digests without calling an upstream model. This API.market source endpoint is deterministic local compute only and has no upstream token cost. Use API.market pricing plans for subscriber billing and access control.","security":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"text":{"type":"string","minLength":1,"maxLength":20000},"algorithm":{"type":"string","enum":["sha256","sha512","sha1","md5"]},"encoding":{"type":"string","enum":["hex","base64","base64url"]}},"required":["text"],"additionalProperties":false},"examples":{"simple":{"value":{"text":"hello","algorithm":"sha256","encoding":"hex"}}}}}},"responses":{"200":{"description":"Hash text with SHA or MD algorithms","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean"},"tool":{"type":"string"},"fetchedAt":{"type":"string"},"x402Lead":{"$ref":"#/components/schemas/ApiMarketX402Lead"}},"required":["ok","tool","fetchedAt"],"additionalProperties":true},"example":{"ok":true,"tool":"hashText","algorithm":"sha256","encoding":"hex","digest":"2cf24dba5fb0a30e26e83b2ac5b9e29e1b161e5c1fa7425e73043362938b9824","fetchedAt":"2026-06-10T00:00:00.000Z","x402Lead":{"paidChatTier":"https://gpt55.558686.xyz/v1/chat/completions/gpt-5.5","merchantReadiness":"https://gpt55.558686.xyz/x402/merchant-readiness","x402Discovery":"https://gpt55.558686.xyz/.well-known/x402","trackedPaidChatTier":"https://gpt55.558686.xyz/go/api-market/gpt55-chat-tier","trackedMerchantReadiness":"https://gpt55.558686.xyz/go/api-market/merchant-readiness","trackedX402Discovery":"https://gpt55.558686.xyz/go/api-market/x402-discovery","note":"This API.market utility response is deterministic lead-gen. GPT-5.5 quota-tier chat, high-value seller reports, and merchant-readiness products are discoverable through the unified service hub and x402 discovery."}}}}},"400":{"description":"Invalid input","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMarketError"}}}},"429":{"description":"Rate limit exceeded","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMarketError"}}}}}}},"/v1/tools/base64-codec":{"get":{"summary":"Encode or decode Base64 via query parameters","operationId":"base64CodecApiMarketGet","tags":["utility-tools","base64","encode","decode","developer-tool","codec","utility","no-llm"],"description":"Encode UTF-8 text to Base64/Base64URL or decode Base64/Base64URL text without calling an upstream model. This API.market source endpoint is deterministic local compute only and has no upstream token cost. Use API.market pricing plans for subscriber billing and access control.","security":[],"parameters":[{"name":"mode","in":"query","required":false,"schema":{"type":"string","enum":["encode","decode"]},"example":"encode"},{"name":"text","in":"query","required":true,"schema":{"type":"string","minLength":1,"maxLength":20000},"example":"hello"},{"name":"urlsafe","in":"query","required":false,"schema":{"type":"boolean"},"example":"false"}],"responses":{"200":{"description":"Encode or decode Base64","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean"},"tool":{"type":"string"},"fetchedAt":{"type":"string"},"x402Lead":{"$ref":"#/components/schemas/ApiMarketX402Lead"}},"required":["ok","tool","fetchedAt"],"additionalProperties":true},"example":{"ok":true,"tool":"base64Codec","mode":"encode","urlsafe":false,"output":"aGVsbG8=","fetchedAt":"2026-06-10T00:00:00.000Z","x402Lead":{"paidChatTier":"https://gpt55.558686.xyz/v1/chat/completions/gpt-5.5","merchantReadiness":"https://gpt55.558686.xyz/x402/merchant-readiness","x402Discovery":"https://gpt55.558686.xyz/.well-known/x402","trackedPaidChatTier":"https://gpt55.558686.xyz/go/api-market/gpt55-chat-tier","trackedMerchantReadiness":"https://gpt55.558686.xyz/go/api-market/merchant-readiness","trackedX402Discovery":"https://gpt55.558686.xyz/go/api-market/x402-discovery","note":"This API.market utility response is deterministic lead-gen. GPT-5.5 quota-tier chat, high-value seller reports, and merchant-readiness products are discoverable through the unified service hub and x402 discovery."}}}}},"400":{"description":"Invalid input","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMarketError"}}}},"429":{"description":"Rate limit exceeded","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMarketError"}}}}}},"post":{"summary":"Encode or decode Base64","operationId":"base64CodecApiMarketPost","tags":["utility-tools","base64","encode","decode","developer-tool","codec","utility","no-llm"],"description":"Encode UTF-8 text to Base64/Base64URL or decode Base64/Base64URL text without calling an upstream model. This API.market source endpoint is deterministic local compute only and has no upstream token cost. Use API.market pricing plans for subscriber billing and access control.","security":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"mode":{"type":"string","enum":["encode","decode"]},"text":{"type":"string","minLength":1,"maxLength":20000},"urlsafe":{"type":"boolean"}},"required":["text"],"additionalProperties":false},"examples":{"simple":{"value":{"mode":"encode","text":"hello","urlsafe":false}}}}}},"responses":{"200":{"description":"Encode or decode Base64","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean"},"tool":{"type":"string"},"fetchedAt":{"type":"string"},"x402Lead":{"$ref":"#/components/schemas/ApiMarketX402Lead"}},"required":["ok","tool","fetchedAt"],"additionalProperties":true},"example":{"ok":true,"tool":"base64Codec","mode":"encode","urlsafe":false,"output":"aGVsbG8=","fetchedAt":"2026-06-10T00:00:00.000Z","x402Lead":{"paidChatTier":"https://gpt55.558686.xyz/v1/chat/completions/gpt-5.5","merchantReadiness":"https://gpt55.558686.xyz/x402/merchant-readiness","x402Discovery":"https://gpt55.558686.xyz/.well-known/x402","trackedPaidChatTier":"https://gpt55.558686.xyz/go/api-market/gpt55-chat-tier","trackedMerchantReadiness":"https://gpt55.558686.xyz/go/api-market/merchant-readiness","trackedX402Discovery":"https://gpt55.558686.xyz/go/api-market/x402-discovery","note":"This API.market utility response is deterministic lead-gen. GPT-5.5 quota-tier chat, high-value seller reports, and merchant-readiness products are discoverable through the unified service hub and x402 discovery."}}}}},"400":{"description":"Invalid input","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMarketError"}}}},"429":{"description":"Rate limit exceeded","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMarketError"}}}}}}},"/v1/tools/url-parse":{"get":{"summary":"Parse URL components via query parameters","operationId":"parseUrlApiMarketGet","tags":["utility-tools","url-parse","url","querystring","developer-tool","web","utility","no-llm"],"description":"Parse an absolute URL into protocol, host, path, query parameters, hash, and origin without fetching the URL or calling an upstream model. This API.market source endpoint is deterministic local compute only and has no upstream token cost. Use API.market pricing plans for subscriber billing and access control.","security":[],"parameters":[{"name":"url","in":"query","required":true,"schema":{"type":"string","minLength":1,"maxLength":2048},"example":"https://example.com/path?a=1&a=2#top"}],"responses":{"200":{"description":"Parse URL components","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean"},"tool":{"type":"string"},"fetchedAt":{"type":"string"},"x402Lead":{"$ref":"#/components/schemas/ApiMarketX402Lead"}},"required":["ok","tool","fetchedAt"],"additionalProperties":true},"example":{"ok":true,"tool":"urlParse","href":"https://example.com/path?a=1&a=2#top","protocol":"https:","host":"example.com","pathname":"/path","query":{"a":["1","2"]},"fetchedAt":"2026-06-10T00:00:00.000Z","x402Lead":{"paidChatTier":"https://gpt55.558686.xyz/v1/chat/completions/gpt-5.5","merchantReadiness":"https://gpt55.558686.xyz/x402/merchant-readiness","x402Discovery":"https://gpt55.558686.xyz/.well-known/x402","trackedPaidChatTier":"https://gpt55.558686.xyz/go/api-market/gpt55-chat-tier","trackedMerchantReadiness":"https://gpt55.558686.xyz/go/api-market/merchant-readiness","trackedX402Discovery":"https://gpt55.558686.xyz/go/api-market/x402-discovery","note":"This API.market utility response is deterministic lead-gen. GPT-5.5 quota-tier chat, high-value seller reports, and merchant-readiness products are discoverable through the unified service hub and x402 discovery."}}}}},"400":{"description":"Invalid input","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMarketError"}}}},"429":{"description":"Rate limit exceeded","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMarketError"}}}}}},"post":{"summary":"Parse URL components","operationId":"parseUrlApiMarketPost","tags":["utility-tools","url-parse","url","querystring","developer-tool","web","utility","no-llm"],"description":"Parse an absolute URL into protocol, host, path, query parameters, hash, and origin without fetching the URL or calling an upstream model. This API.market source endpoint is deterministic local compute only and has no upstream token cost. Use API.market pricing plans for subscriber billing and access control.","security":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"url":{"type":"string","minLength":1,"maxLength":2048}},"required":["url"],"additionalProperties":false},"examples":{"simple":{"value":{"url":"https://example.com/path?a=1&a=2#top"}}}}}},"responses":{"200":{"description":"Parse URL components","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean"},"tool":{"type":"string"},"fetchedAt":{"type":"string"},"x402Lead":{"$ref":"#/components/schemas/ApiMarketX402Lead"}},"required":["ok","tool","fetchedAt"],"additionalProperties":true},"example":{"ok":true,"tool":"urlParse","href":"https://example.com/path?a=1&a=2#top","protocol":"https:","host":"example.com","pathname":"/path","query":{"a":["1","2"]},"fetchedAt":"2026-06-10T00:00:00.000Z","x402Lead":{"paidChatTier":"https://gpt55.558686.xyz/v1/chat/completions/gpt-5.5","merchantReadiness":"https://gpt55.558686.xyz/x402/merchant-readiness","x402Discovery":"https://gpt55.558686.xyz/.well-known/x402","trackedPaidChatTier":"https://gpt55.558686.xyz/go/api-market/gpt55-chat-tier","trackedMerchantReadiness":"https://gpt55.558686.xyz/go/api-market/merchant-readiness","trackedX402Discovery":"https://gpt55.558686.xyz/go/api-market/x402-discovery","note":"This API.market utility response is deterministic lead-gen. GPT-5.5 quota-tier chat, high-value seller reports, and merchant-readiness products are discoverable through the unified service hub and x402 discovery."}}}}},"400":{"description":"Invalid input","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMarketError"}}}},"429":{"description":"Rate limit exceeded","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMarketError"}}}}}}},"/v1/tools/timestamp":{"get":{"summary":"Convert timestamps and ISO dates via query parameters","operationId":"convertTimestampApiMarketGet","tags":["utility-tools","timestamp","date","time","unix-time","developer-tool","utility","no-llm"],"description":"Convert Unix seconds, Unix milliseconds, or date strings into ISO, Unix seconds, Unix milliseconds, and UTC fields without calling an upstream model. This API.market source endpoint is deterministic local compute only and has no upstream token cost. Use API.market pricing plans for subscriber billing and access control.","security":[],"parameters":[{"name":"value","in":"query","required":false,"schema":{"type":"string","description":"Pass the value as text; JSON text is accepted for structured JSON values."},"example":"2026-06-10T00:00:00Z","description":"Query values are strings; pass JSON text for structured values."}],"responses":{"200":{"description":"Convert timestamps and ISO dates","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean"},"tool":{"type":"string"},"fetchedAt":{"type":"string"},"x402Lead":{"$ref":"#/components/schemas/ApiMarketX402Lead"}},"required":["ok","tool","fetchedAt"],"additionalProperties":true},"example":{"ok":true,"tool":"timestamp","iso":"2026-06-10T00:00:00.000Z","unixSeconds":1781049600,"unixMilliseconds":1781049600000,"fetchedAt":"2026-06-10T00:00:00.000Z","x402Lead":{"paidChatTier":"https://gpt55.558686.xyz/v1/chat/completions/gpt-5.5","merchantReadiness":"https://gpt55.558686.xyz/x402/merchant-readiness","x402Discovery":"https://gpt55.558686.xyz/.well-known/x402","trackedPaidChatTier":"https://gpt55.558686.xyz/go/api-market/gpt55-chat-tier","trackedMerchantReadiness":"https://gpt55.558686.xyz/go/api-market/merchant-readiness","trackedX402Discovery":"https://gpt55.558686.xyz/go/api-market/x402-discovery","note":"This API.market utility response is deterministic lead-gen. GPT-5.5 quota-tier chat, high-value seller reports, and merchant-readiness products are discoverable through the unified service hub and x402 discovery."}}}}},"400":{"description":"Invalid input","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMarketError"}}}},"429":{"description":"Rate limit exceeded","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMarketError"}}}}}},"post":{"summary":"Convert timestamps and ISO dates","operationId":"convertTimestampApiMarketPost","tags":["utility-tools","timestamp","date","time","unix-time","developer-tool","utility","no-llm"],"description":"Convert Unix seconds, Unix milliseconds, or date strings into ISO, Unix seconds, Unix milliseconds, and UTC fields without calling an upstream model. This API.market source endpoint is deterministic local compute only and has no upstream token cost. Use API.market pricing plans for subscriber billing and access control.","security":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"value":{"oneOf":[{"type":"string"},{"type":"number"}]}},"additionalProperties":false},"examples":{"simple":{"value":{"value":"2026-06-10T00:00:00Z"}}}}}},"responses":{"200":{"description":"Convert timestamps and ISO dates","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean"},"tool":{"type":"string"},"fetchedAt":{"type":"string"},"x402Lead":{"$ref":"#/components/schemas/ApiMarketX402Lead"}},"required":["ok","tool","fetchedAt"],"additionalProperties":true},"example":{"ok":true,"tool":"timestamp","iso":"2026-06-10T00:00:00.000Z","unixSeconds":1781049600,"unixMilliseconds":1781049600000,"fetchedAt":"2026-06-10T00:00:00.000Z","x402Lead":{"paidChatTier":"https://gpt55.558686.xyz/v1/chat/completions/gpt-5.5","merchantReadiness":"https://gpt55.558686.xyz/x402/merchant-readiness","x402Discovery":"https://gpt55.558686.xyz/.well-known/x402","trackedPaidChatTier":"https://gpt55.558686.xyz/go/api-market/gpt55-chat-tier","trackedMerchantReadiness":"https://gpt55.558686.xyz/go/api-market/merchant-readiness","trackedX402Discovery":"https://gpt55.558686.xyz/go/api-market/x402-discovery","note":"This API.market utility response is deterministic lead-gen. GPT-5.5 quota-tier chat, high-value seller reports, and merchant-readiness products are discoverable through the unified service hub and x402 discovery."}}}}},"400":{"description":"Invalid input","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMarketError"}}}},"429":{"description":"Rate limit exceeded","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMarketError"}}}}}}},"/v1/tools/jwt-decode":{"get":{"summary":"Decode JWT header and payload via query parameters","operationId":"decodeJwtApiMarketGet","tags":["utility-tools","jwt","decode","token","developer-tool","auth","utility","no-llm"],"description":"Decode a JWT header and payload without verifying the signature and without calling an upstream model. This API.market source endpoint is deterministic local compute only and has no upstream token cost. Use API.market pricing plans for subscriber billing and access control.","security":[],"parameters":[{"name":"token","in":"query","required":true,"schema":{"type":"string","minLength":1,"maxLength":20000},"example":"eyJhbGciOiJub25lIn0.eyJzdWIiOiJleGFtcGxlIn0."}],"responses":{"200":{"description":"Decode JWT header and payload","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean"},"tool":{"type":"string"},"fetchedAt":{"type":"string"},"x402Lead":{"$ref":"#/components/schemas/ApiMarketX402Lead"}},"required":["ok","tool","fetchedAt"],"additionalProperties":true},"example":{"ok":true,"tool":"jwtDecode","header":{"alg":"none"},"payload":{"sub":"example"},"signaturePresent":false,"fetchedAt":"2026-06-10T00:00:00.000Z","x402Lead":{"paidChatTier":"https://gpt55.558686.xyz/v1/chat/completions/gpt-5.5","merchantReadiness":"https://gpt55.558686.xyz/x402/merchant-readiness","x402Discovery":"https://gpt55.558686.xyz/.well-known/x402","trackedPaidChatTier":"https://gpt55.558686.xyz/go/api-market/gpt55-chat-tier","trackedMerchantReadiness":"https://gpt55.558686.xyz/go/api-market/merchant-readiness","trackedX402Discovery":"https://gpt55.558686.xyz/go/api-market/x402-discovery","note":"This API.market utility response is deterministic lead-gen. GPT-5.5 quota-tier chat, high-value seller reports, and merchant-readiness products are discoverable through the unified service hub and x402 discovery."}}}}},"400":{"description":"Invalid input","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMarketError"}}}},"429":{"description":"Rate limit exceeded","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMarketError"}}}}}},"post":{"summary":"Decode JWT header and payload","operationId":"decodeJwtApiMarketPost","tags":["utility-tools","jwt","decode","token","developer-tool","auth","utility","no-llm"],"description":"Decode a JWT header and payload without verifying the signature and without calling an upstream model. This API.market source endpoint is deterministic local compute only and has no upstream token cost. Use API.market pricing plans for subscriber billing and access control.","security":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"token":{"type":"string","minLength":1,"maxLength":20000}},"required":["token"],"additionalProperties":false},"examples":{"simple":{"value":{"token":"eyJhbGciOiJub25lIn0.eyJzdWIiOiJleGFtcGxlIn0."}}}}}},"responses":{"200":{"description":"Decode JWT header and payload","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean"},"tool":{"type":"string"},"fetchedAt":{"type":"string"},"x402Lead":{"$ref":"#/components/schemas/ApiMarketX402Lead"}},"required":["ok","tool","fetchedAt"],"additionalProperties":true},"example":{"ok":true,"tool":"jwtDecode","header":{"alg":"none"},"payload":{"sub":"example"},"signaturePresent":false,"fetchedAt":"2026-06-10T00:00:00.000Z","x402Lead":{"paidChatTier":"https://gpt55.558686.xyz/v1/chat/completions/gpt-5.5","merchantReadiness":"https://gpt55.558686.xyz/x402/merchant-readiness","x402Discovery":"https://gpt55.558686.xyz/.well-known/x402","trackedPaidChatTier":"https://gpt55.558686.xyz/go/api-market/gpt55-chat-tier","trackedMerchantReadiness":"https://gpt55.558686.xyz/go/api-market/merchant-readiness","trackedX402Discovery":"https://gpt55.558686.xyz/go/api-market/x402-discovery","note":"This API.market utility response is deterministic lead-gen. GPT-5.5 quota-tier chat, high-value seller reports, and merchant-readiness products are discoverable through the unified service hub and x402 discovery."}}}}},"400":{"description":"Invalid input","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMarketError"}}}},"429":{"description":"Rate limit exceeded","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMarketError"}}}}}}},"/v1/tools/slugify":{"get":{"summary":"Create URL slugs via query parameters","operationId":"slugifyTextApiMarketGet","tags":["utility-tools","slugify","url-slug","text-transform","developer-tool","utility","no-llm"],"description":"Convert text into a lower-case URL slug with a configurable separator without calling an upstream model. This API.market source endpoint is deterministic local compute only and has no upstream token cost. Use API.market pricing plans for subscriber billing and access control.","security":[],"parameters":[{"name":"text","in":"query","required":true,"schema":{"type":"string","minLength":1,"maxLength":20000},"example":"Hello, x402 World!"},{"name":"separator","in":"query","required":false,"schema":{"type":"string","minLength":1,"maxLength":3},"example":"-"},{"name":"lowercase","in":"query","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"Create URL slugs","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean"},"tool":{"type":"string"},"fetchedAt":{"type":"string"},"x402Lead":{"$ref":"#/components/schemas/ApiMarketX402Lead"}},"required":["ok","tool","fetchedAt"],"additionalProperties":true},"example":{"ok":true,"tool":"slugify","slug":"hello-x402-world","separator":"-","fetchedAt":"2026-06-10T00:00:00.000Z","x402Lead":{"paidChatTier":"https://gpt55.558686.xyz/v1/chat/completions/gpt-5.5","merchantReadiness":"https://gpt55.558686.xyz/x402/merchant-readiness","x402Discovery":"https://gpt55.558686.xyz/.well-known/x402","trackedPaidChatTier":"https://gpt55.558686.xyz/go/api-market/gpt55-chat-tier","trackedMerchantReadiness":"https://gpt55.558686.xyz/go/api-market/merchant-readiness","trackedX402Discovery":"https://gpt55.558686.xyz/go/api-market/x402-discovery","note":"This API.market utility response is deterministic lead-gen. GPT-5.5 quota-tier chat, high-value seller reports, and merchant-readiness products are discoverable through the unified service hub and x402 discovery."}}}}},"400":{"description":"Invalid input","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMarketError"}}}},"429":{"description":"Rate limit exceeded","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMarketError"}}}}}},"post":{"summary":"Create URL slugs","operationId":"slugifyTextApiMarketPost","tags":["utility-tools","slugify","url-slug","text-transform","developer-tool","utility","no-llm"],"description":"Convert text into a lower-case URL slug with a configurable separator without calling an upstream model. This API.market source endpoint is deterministic local compute only and has no upstream token cost. Use API.market pricing plans for subscriber billing and access control.","security":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"text":{"type":"string","minLength":1,"maxLength":20000},"separator":{"type":"string","minLength":1,"maxLength":3},"lowercase":{"type":"boolean"}},"required":["text"],"additionalProperties":false},"examples":{"simple":{"value":{"text":"Hello, x402 World!","separator":"-"}}}}}},"responses":{"200":{"description":"Create URL slugs","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean"},"tool":{"type":"string"},"fetchedAt":{"type":"string"},"x402Lead":{"$ref":"#/components/schemas/ApiMarketX402Lead"}},"required":["ok","tool","fetchedAt"],"additionalProperties":true},"example":{"ok":true,"tool":"slugify","slug":"hello-x402-world","separator":"-","fetchedAt":"2026-06-10T00:00:00.000Z","x402Lead":{"paidChatTier":"https://gpt55.558686.xyz/v1/chat/completions/gpt-5.5","merchantReadiness":"https://gpt55.558686.xyz/x402/merchant-readiness","x402Discovery":"https://gpt55.558686.xyz/.well-known/x402","trackedPaidChatTier":"https://gpt55.558686.xyz/go/api-market/gpt55-chat-tier","trackedMerchantReadiness":"https://gpt55.558686.xyz/go/api-market/merchant-readiness","trackedX402Discovery":"https://gpt55.558686.xyz/go/api-market/x402-discovery","note":"This API.market utility response is deterministic lead-gen. GPT-5.5 quota-tier chat, high-value seller reports, and merchant-readiness products are discoverable through the unified service hub and x402 discovery."}}}}},"400":{"description":"Invalid input","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMarketError"}}}},"429":{"description":"Rate limit exceeded","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMarketError"}}}}}}},"/v1/tools/case-convert":{"get":{"summary":"Convert text casing via query parameters","operationId":"convertCaseApiMarketGet","tags":["utility-tools","case-convert","camel-case","snake-case","kebab-case","developer-tool","utility","no-llm"],"description":"Convert text to upper, lower, title, sentence, camel, snake, or kebab case without calling an upstream model. This API.market source endpoint is deterministic local compute only and has no upstream token cost. Use API.market pricing plans for subscriber billing and access control.","security":[],"parameters":[{"name":"text","in":"query","required":true,"schema":{"type":"string","minLength":1,"maxLength":20000},"example":"hello x402 world"},{"name":"case","in":"query","required":false,"schema":{"type":"string","enum":["upper","lower","title","sentence","camel","snake","kebab"]},"example":"title"}],"responses":{"200":{"description":"Convert text casing","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean"},"tool":{"type":"string"},"fetchedAt":{"type":"string"},"x402Lead":{"$ref":"#/components/schemas/ApiMarketX402Lead"}},"required":["ok","tool","fetchedAt"],"additionalProperties":true},"example":{"ok":true,"tool":"caseConvert","case":"title","output":"Hello X402 World","fetchedAt":"2026-06-10T00:00:00.000Z","x402Lead":{"paidChatTier":"https://gpt55.558686.xyz/v1/chat/completions/gpt-5.5","merchantReadiness":"https://gpt55.558686.xyz/x402/merchant-readiness","x402Discovery":"https://gpt55.558686.xyz/.well-known/x402","trackedPaidChatTier":"https://gpt55.558686.xyz/go/api-market/gpt55-chat-tier","trackedMerchantReadiness":"https://gpt55.558686.xyz/go/api-market/merchant-readiness","trackedX402Discovery":"https://gpt55.558686.xyz/go/api-market/x402-discovery","note":"This API.market utility response is deterministic lead-gen. GPT-5.5 quota-tier chat, high-value seller reports, and merchant-readiness products are discoverable through the unified service hub and x402 discovery."}}}}},"400":{"description":"Invalid input","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMarketError"}}}},"429":{"description":"Rate limit exceeded","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMarketError"}}}}}},"post":{"summary":"Convert text casing","operationId":"convertCaseApiMarketPost","tags":["utility-tools","case-convert","camel-case","snake-case","kebab-case","developer-tool","utility","no-llm"],"description":"Convert text to upper, lower, title, sentence, camel, snake, or kebab case without calling an upstream model. This API.market source endpoint is deterministic local compute only and has no upstream token cost. Use API.market pricing plans for subscriber billing and access control.","security":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"text":{"type":"string","minLength":1,"maxLength":20000},"case":{"type":"string","enum":["upper","lower","title","sentence","camel","snake","kebab"]}},"required":["text"],"additionalProperties":false},"examples":{"simple":{"value":{"text":"hello x402 world","case":"title"}}}}}},"responses":{"200":{"description":"Convert text casing","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean"},"tool":{"type":"string"},"fetchedAt":{"type":"string"},"x402Lead":{"$ref":"#/components/schemas/ApiMarketX402Lead"}},"required":["ok","tool","fetchedAt"],"additionalProperties":true},"example":{"ok":true,"tool":"caseConvert","case":"title","output":"Hello X402 World","fetchedAt":"2026-06-10T00:00:00.000Z","x402Lead":{"paidChatTier":"https://gpt55.558686.xyz/v1/chat/completions/gpt-5.5","merchantReadiness":"https://gpt55.558686.xyz/x402/merchant-readiness","x402Discovery":"https://gpt55.558686.xyz/.well-known/x402","trackedPaidChatTier":"https://gpt55.558686.xyz/go/api-market/gpt55-chat-tier","trackedMerchantReadiness":"https://gpt55.558686.xyz/go/api-market/merchant-readiness","trackedX402Discovery":"https://gpt55.558686.xyz/go/api-market/x402-discovery","note":"This API.market utility response is deterministic lead-gen. GPT-5.5 quota-tier chat, high-value seller reports, and merchant-readiness products are discoverable through the unified service hub and x402 discovery."}}}}},"400":{"description":"Invalid input","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMarketError"}}}},"429":{"description":"Rate limit exceeded","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMarketError"}}}}}}},"/v1/tools/regex-match":{"get":{"summary":"Run bounded regex matching via query parameters","operationId":"regexMatchApiMarketGet","tags":["utility-tools","regex","regular-expression","match","developer-tool","parsing","utility","no-llm"],"description":"Run a JavaScript regular expression against short text and return bounded matches without calling an upstream model. This API.market source endpoint is deterministic local compute only and has no upstream token cost. Use API.market pricing plans for subscriber billing and access control.","security":[],"parameters":[{"name":"text","in":"query","required":true,"schema":{"type":"string","minLength":1,"maxLength":10000},"example":"alice@example.com and bob@example.com"},{"name":"pattern","in":"query","required":true,"schema":{"type":"string","minLength":1,"maxLength":300},"example":"[\\w.-]+@[\\w.-]+"},{"name":"flags","in":"query","required":false,"schema":{"type":"string","maxLength":8},"example":"g"},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":100},"example":"10"}],"responses":{"200":{"description":"Run bounded regex matching","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean"},"tool":{"type":"string"},"fetchedAt":{"type":"string"},"x402Lead":{"$ref":"#/components/schemas/ApiMarketX402Lead"}},"required":["ok","tool","fetchedAt"],"additionalProperties":true},"example":{"ok":true,"tool":"regexMatch","pattern":"[\\w.-]+@[\\w.-]+","flags":"g","matches":[{"match":"alice@example.com","index":0}],"count":2,"truncated":false,"fetchedAt":"2026-06-10T00:00:00.000Z","x402Lead":{"paidChatTier":"https://gpt55.558686.xyz/v1/chat/completions/gpt-5.5","merchantReadiness":"https://gpt55.558686.xyz/x402/merchant-readiness","x402Discovery":"https://gpt55.558686.xyz/.well-known/x402","trackedPaidChatTier":"https://gpt55.558686.xyz/go/api-market/gpt55-chat-tier","trackedMerchantReadiness":"https://gpt55.558686.xyz/go/api-market/merchant-readiness","trackedX402Discovery":"https://gpt55.558686.xyz/go/api-market/x402-discovery","note":"This API.market utility response is deterministic lead-gen. GPT-5.5 quota-tier chat, high-value seller reports, and merchant-readiness products are discoverable through the unified service hub and x402 discovery."}}}}},"400":{"description":"Invalid input","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMarketError"}}}},"429":{"description":"Rate limit exceeded","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMarketError"}}}}}},"post":{"summary":"Run bounded regex matching","operationId":"regexMatchApiMarketPost","tags":["utility-tools","regex","regular-expression","match","developer-tool","parsing","utility","no-llm"],"description":"Run a JavaScript regular expression against short text and return bounded matches without calling an upstream model. This API.market source endpoint is deterministic local compute only and has no upstream token cost. Use API.market pricing plans for subscriber billing and access control.","security":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"text":{"type":"string","minLength":1,"maxLength":10000},"pattern":{"type":"string","minLength":1,"maxLength":300},"flags":{"type":"string","maxLength":8},"limit":{"type":"integer","minimum":1,"maximum":100}},"required":["text","pattern"],"additionalProperties":false},"examples":{"simple":{"value":{"text":"alice@example.com and bob@example.com","pattern":"[\\w.-]+@[\\w.-]+","flags":"g","limit":10}}}}}},"responses":{"200":{"description":"Run bounded regex matching","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean"},"tool":{"type":"string"},"fetchedAt":{"type":"string"},"x402Lead":{"$ref":"#/components/schemas/ApiMarketX402Lead"}},"required":["ok","tool","fetchedAt"],"additionalProperties":true},"example":{"ok":true,"tool":"regexMatch","pattern":"[\\w.-]+@[\\w.-]+","flags":"g","matches":[{"match":"alice@example.com","index":0}],"count":2,"truncated":false,"fetchedAt":"2026-06-10T00:00:00.000Z","x402Lead":{"paidChatTier":"https://gpt55.558686.xyz/v1/chat/completions/gpt-5.5","merchantReadiness":"https://gpt55.558686.xyz/x402/merchant-readiness","x402Discovery":"https://gpt55.558686.xyz/.well-known/x402","trackedPaidChatTier":"https://gpt55.558686.xyz/go/api-market/gpt55-chat-tier","trackedMerchantReadiness":"https://gpt55.558686.xyz/go/api-market/merchant-readiness","trackedX402Discovery":"https://gpt55.558686.xyz/go/api-market/x402-discovery","note":"This API.market utility response is deterministic lead-gen. GPT-5.5 quota-tier chat, high-value seller reports, and merchant-readiness products are discoverable through the unified service hub and x402 discovery."}}}}},"400":{"description":"Invalid input","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMarketError"}}}},"429":{"description":"Rate limit exceeded","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMarketError"}}}}}}},"/v1/tools/html-strip":{"get":{"summary":"Strip HTML to clean text via query parameters","operationId":"stripHtmlApiMarketGet","tags":["utility-tools","html-strip","html","text-extraction","developer-tool","no-network","utility","no-llm"],"description":"Remove HTML tags, scripts, styles, and common entities from short HTML snippets without calling an upstream model. This API.market source endpoint is deterministic local compute only and has no upstream token cost. Use API.market pricing plans for subscriber billing and access control.","security":[],"parameters":[{"name":"html","in":"query","required":true,"schema":{"type":"string","minLength":1,"maxLength":50000},"example":"<h1>Hello</h1><p>x402</p>"},{"name":"max_chars","in":"query","required":false,"schema":{"type":"integer","minimum":100,"maximum":20000},"example":"2000"}],"responses":{"200":{"description":"Strip HTML to clean text","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean"},"tool":{"type":"string"},"fetchedAt":{"type":"string"},"x402Lead":{"$ref":"#/components/schemas/ApiMarketX402Lead"}},"required":["ok","tool","fetchedAt"],"additionalProperties":true},"example":{"ok":true,"tool":"htmlStrip","text":"Hello x402","textChars":10,"truncated":false,"fetchedAt":"2026-06-10T00:00:00.000Z","x402Lead":{"paidChatTier":"https://gpt55.558686.xyz/v1/chat/completions/gpt-5.5","merchantReadiness":"https://gpt55.558686.xyz/x402/merchant-readiness","x402Discovery":"https://gpt55.558686.xyz/.well-known/x402","trackedPaidChatTier":"https://gpt55.558686.xyz/go/api-market/gpt55-chat-tier","trackedMerchantReadiness":"https://gpt55.558686.xyz/go/api-market/merchant-readiness","trackedX402Discovery":"https://gpt55.558686.xyz/go/api-market/x402-discovery","note":"This API.market utility response is deterministic lead-gen. GPT-5.5 quota-tier chat, high-value seller reports, and merchant-readiness products are discoverable through the unified service hub and x402 discovery."}}}}},"400":{"description":"Invalid input","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMarketError"}}}},"429":{"description":"Rate limit exceeded","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMarketError"}}}}}},"post":{"summary":"Strip HTML to clean text","operationId":"stripHtmlApiMarketPost","tags":["utility-tools","html-strip","html","text-extraction","developer-tool","no-network","utility","no-llm"],"description":"Remove HTML tags, scripts, styles, and common entities from short HTML snippets without calling an upstream model. This API.market source endpoint is deterministic local compute only and has no upstream token cost. Use API.market pricing plans for subscriber billing and access control.","security":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"html":{"type":"string","minLength":1,"maxLength":50000},"max_chars":{"type":"integer","minimum":100,"maximum":20000}},"required":["html"],"additionalProperties":false},"examples":{"simple":{"value":{"html":"<h1>Hello</h1><p>x402</p>","max_chars":2000}}}}}},"responses":{"200":{"description":"Strip HTML to clean text","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean"},"tool":{"type":"string"},"fetchedAt":{"type":"string"},"x402Lead":{"$ref":"#/components/schemas/ApiMarketX402Lead"}},"required":["ok","tool","fetchedAt"],"additionalProperties":true},"example":{"ok":true,"tool":"htmlStrip","text":"Hello x402","textChars":10,"truncated":false,"fetchedAt":"2026-06-10T00:00:00.000Z","x402Lead":{"paidChatTier":"https://gpt55.558686.xyz/v1/chat/completions/gpt-5.5","merchantReadiness":"https://gpt55.558686.xyz/x402/merchant-readiness","x402Discovery":"https://gpt55.558686.xyz/.well-known/x402","trackedPaidChatTier":"https://gpt55.558686.xyz/go/api-market/gpt55-chat-tier","trackedMerchantReadiness":"https://gpt55.558686.xyz/go/api-market/merchant-readiness","trackedX402Discovery":"https://gpt55.558686.xyz/go/api-market/x402-discovery","note":"This API.market utility response is deterministic lead-gen. GPT-5.5 quota-tier chat, high-value seller reports, and merchant-readiness products are discoverable through the unified service hub and x402 discovery."}}}}},"400":{"description":"Invalid input","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMarketError"}}}},"429":{"description":"Rate limit exceeded","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMarketError"}}}}}}},"/v1/tools/query-parse":{"get":{"summary":"Parse URL query strings via query parameters","operationId":"parseQueryStringApiMarketGet","tags":["utility-tools","querystring","url","parse","developer-tool","web","utility","no-llm"],"description":"Parse a query string or URL into repeated query parameters and first-value maps without calling an upstream model. This API.market source endpoint is deterministic local compute only and has no upstream token cost. Use API.market pricing plans for subscriber billing and access control.","security":[],"parameters":[{"name":"query","in":"query","required":false,"schema":{"type":"string","maxLength":5000},"example":"a=1&a=2&b=test"},{"name":"url","in":"query","required":false,"schema":{"type":"string","maxLength":2048}}],"responses":{"200":{"description":"Parse URL query strings","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean"},"tool":{"type":"string"},"fetchedAt":{"type":"string"},"x402Lead":{"$ref":"#/components/schemas/ApiMarketX402Lead"}},"required":["ok","tool","fetchedAt"],"additionalProperties":true},"example":{"ok":true,"tool":"queryParse","query":"a=1&a=2&b=test","params":{"a":["1","2"],"b":["test"]},"first":{"a":"1","b":"test"},"fetchedAt":"2026-06-10T00:00:00.000Z","x402Lead":{"paidChatTier":"https://gpt55.558686.xyz/v1/chat/completions/gpt-5.5","merchantReadiness":"https://gpt55.558686.xyz/x402/merchant-readiness","x402Discovery":"https://gpt55.558686.xyz/.well-known/x402","trackedPaidChatTier":"https://gpt55.558686.xyz/go/api-market/gpt55-chat-tier","trackedMerchantReadiness":"https://gpt55.558686.xyz/go/api-market/merchant-readiness","trackedX402Discovery":"https://gpt55.558686.xyz/go/api-market/x402-discovery","note":"This API.market utility response is deterministic lead-gen. GPT-5.5 quota-tier chat, high-value seller reports, and merchant-readiness products are discoverable through the unified service hub and x402 discovery."}}}}},"400":{"description":"Invalid input","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMarketError"}}}},"429":{"description":"Rate limit exceeded","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMarketError"}}}}}},"post":{"summary":"Parse URL query strings","operationId":"parseQueryStringApiMarketPost","tags":["utility-tools","querystring","url","parse","developer-tool","web","utility","no-llm"],"description":"Parse a query string or URL into repeated query parameters and first-value maps without calling an upstream model. This API.market source endpoint is deterministic local compute only and has no upstream token cost. Use API.market pricing plans for subscriber billing and access control.","security":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"query":{"type":"string","maxLength":5000},"url":{"type":"string","maxLength":2048}},"additionalProperties":false},"examples":{"simple":{"value":{"query":"a=1&a=2&b=test"}}}}}},"responses":{"200":{"description":"Parse URL query strings","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean"},"tool":{"type":"string"},"fetchedAt":{"type":"string"},"x402Lead":{"$ref":"#/components/schemas/ApiMarketX402Lead"}},"required":["ok","tool","fetchedAt"],"additionalProperties":true},"example":{"ok":true,"tool":"queryParse","query":"a=1&a=2&b=test","params":{"a":["1","2"],"b":["test"]},"first":{"a":"1","b":"test"},"fetchedAt":"2026-06-10T00:00:00.000Z","x402Lead":{"paidChatTier":"https://gpt55.558686.xyz/v1/chat/completions/gpt-5.5","merchantReadiness":"https://gpt55.558686.xyz/x402/merchant-readiness","x402Discovery":"https://gpt55.558686.xyz/.well-known/x402","trackedPaidChatTier":"https://gpt55.558686.xyz/go/api-market/gpt55-chat-tier","trackedMerchantReadiness":"https://gpt55.558686.xyz/go/api-market/merchant-readiness","trackedX402Discovery":"https://gpt55.558686.xyz/go/api-market/x402-discovery","note":"This API.market utility response is deterministic lead-gen. GPT-5.5 quota-tier chat, high-value seller reports, and merchant-readiness products are discoverable through the unified service hub and x402 discovery."}}}}},"400":{"description":"Invalid input","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMarketError"}}}},"429":{"description":"Rate limit exceeded","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMarketError"}}}}}}},"/v1/tools/unique-lines":{"get":{"summary":"Deduplicate lines via query parameters","operationId":"uniqueLinesApiMarketGet","tags":["utility-tools","unique-lines","dedupe","text-processing","developer-tool","utility","no-llm"],"description":"Deduplicate newline-separated text while preserving order and report duplicate counts without calling an upstream model. This API.market source endpoint is deterministic local compute only and has no upstream token cost. Use API.market pricing plans for subscriber billing and access control.","security":[],"parameters":[{"name":"text","in":"query","required":true,"schema":{"type":"string","minLength":1,"maxLength":50000},"example":"alpha\nbeta\nalpha"},{"name":"case_sensitive","in":"query","required":false,"schema":{"type":"boolean"},"example":"true"}],"responses":{"200":{"description":"Deduplicate lines","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean"},"tool":{"type":"string"},"fetchedAt":{"type":"string"},"x402Lead":{"$ref":"#/components/schemas/ApiMarketX402Lead"}},"required":["ok","tool","fetchedAt"],"additionalProperties":true},"example":{"ok":true,"tool":"uniqueLines","lines":["alpha","beta"],"inputLineCount":3,"uniqueLineCount":2,"duplicateCount":1,"fetchedAt":"2026-06-10T00:00:00.000Z","x402Lead":{"paidChatTier":"https://gpt55.558686.xyz/v1/chat/completions/gpt-5.5","merchantReadiness":"https://gpt55.558686.xyz/x402/merchant-readiness","x402Discovery":"https://gpt55.558686.xyz/.well-known/x402","trackedPaidChatTier":"https://gpt55.558686.xyz/go/api-market/gpt55-chat-tier","trackedMerchantReadiness":"https://gpt55.558686.xyz/go/api-market/merchant-readiness","trackedX402Discovery":"https://gpt55.558686.xyz/go/api-market/x402-discovery","note":"This API.market utility response is deterministic lead-gen. GPT-5.5 quota-tier chat, high-value seller reports, and merchant-readiness products are discoverable through the unified service hub and x402 discovery."}}}}},"400":{"description":"Invalid input","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMarketError"}}}},"429":{"description":"Rate limit exceeded","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMarketError"}}}}}},"post":{"summary":"Deduplicate lines","operationId":"uniqueLinesApiMarketPost","tags":["utility-tools","unique-lines","dedupe","text-processing","developer-tool","utility","no-llm"],"description":"Deduplicate newline-separated text while preserving order and report duplicate counts without calling an upstream model. This API.market source endpoint is deterministic local compute only and has no upstream token cost. Use API.market pricing plans for subscriber billing and access control.","security":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"text":{"type":"string","minLength":1,"maxLength":50000},"case_sensitive":{"type":"boolean"}},"required":["text"],"additionalProperties":false},"examples":{"simple":{"value":{"text":"alpha\nbeta\nalpha","case_sensitive":true}}}}}},"responses":{"200":{"description":"Deduplicate lines","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean"},"tool":{"type":"string"},"fetchedAt":{"type":"string"},"x402Lead":{"$ref":"#/components/schemas/ApiMarketX402Lead"}},"required":["ok","tool","fetchedAt"],"additionalProperties":true},"example":{"ok":true,"tool":"uniqueLines","lines":["alpha","beta"],"inputLineCount":3,"uniqueLineCount":2,"duplicateCount":1,"fetchedAt":"2026-06-10T00:00:00.000Z","x402Lead":{"paidChatTier":"https://gpt55.558686.xyz/v1/chat/completions/gpt-5.5","merchantReadiness":"https://gpt55.558686.xyz/x402/merchant-readiness","x402Discovery":"https://gpt55.558686.xyz/.well-known/x402","trackedPaidChatTier":"https://gpt55.558686.xyz/go/api-market/gpt55-chat-tier","trackedMerchantReadiness":"https://gpt55.558686.xyz/go/api-market/merchant-readiness","trackedX402Discovery":"https://gpt55.558686.xyz/go/api-market/x402-discovery","note":"This API.market utility response is deterministic lead-gen. GPT-5.5 quota-tier chat, high-value seller reports, and merchant-readiness products are discoverable through the unified service hub and x402 discovery."}}}}},"400":{"description":"Invalid input","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMarketError"}}}},"429":{"description":"Rate limit exceeded","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMarketError"}}}}}}},"/v1/tools/sort-lines":{"get":{"summary":"Sort lines via query parameters","operationId":"sortLinesApiMarketGet","tags":["utility-tools","sort-lines","text-processing","developer-tool","list","utility","no-llm"],"description":"Sort newline-separated text alphabetically or numerically without calling an upstream model. This API.market source endpoint is deterministic local compute only and has no upstream token cost. Use API.market pricing plans for subscriber billing and access control.","security":[],"parameters":[{"name":"text","in":"query","required":true,"schema":{"type":"string","minLength":1,"maxLength":50000},"example":"beta\nalpha\n10\n2"},{"name":"numeric","in":"query","required":false,"schema":{"type":"boolean"},"example":"false"},{"name":"descending","in":"query","required":false,"schema":{"type":"boolean"},"example":"false"}],"responses":{"200":{"description":"Sort lines","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean"},"tool":{"type":"string"},"fetchedAt":{"type":"string"},"x402Lead":{"$ref":"#/components/schemas/ApiMarketX402Lead"}},"required":["ok","tool","fetchedAt"],"additionalProperties":true},"example":{"ok":true,"tool":"sortLines","text":"10\n2\nalpha\nbeta","lines":["10","2","alpha","beta"],"lineCount":4,"fetchedAt":"2026-06-10T00:00:00.000Z","x402Lead":{"paidChatTier":"https://gpt55.558686.xyz/v1/chat/completions/gpt-5.5","merchantReadiness":"https://gpt55.558686.xyz/x402/merchant-readiness","x402Discovery":"https://gpt55.558686.xyz/.well-known/x402","trackedPaidChatTier":"https://gpt55.558686.xyz/go/api-market/gpt55-chat-tier","trackedMerchantReadiness":"https://gpt55.558686.xyz/go/api-market/merchant-readiness","trackedX402Discovery":"https://gpt55.558686.xyz/go/api-market/x402-discovery","note":"This API.market utility response is deterministic lead-gen. GPT-5.5 quota-tier chat, high-value seller reports, and merchant-readiness products are discoverable through the unified service hub and x402 discovery."}}}}},"400":{"description":"Invalid input","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMarketError"}}}},"429":{"description":"Rate limit exceeded","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMarketError"}}}}}},"post":{"summary":"Sort lines","operationId":"sortLinesApiMarketPost","tags":["utility-tools","sort-lines","text-processing","developer-tool","list","utility","no-llm"],"description":"Sort newline-separated text alphabetically or numerically without calling an upstream model. This API.market source endpoint is deterministic local compute only and has no upstream token cost. Use API.market pricing plans for subscriber billing and access control.","security":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"text":{"type":"string","minLength":1,"maxLength":50000},"numeric":{"type":"boolean"},"descending":{"type":"boolean"}},"required":["text"],"additionalProperties":false},"examples":{"simple":{"value":{"text":"beta\nalpha\n10\n2","numeric":false,"descending":false}}}}}},"responses":{"200":{"description":"Sort lines","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean"},"tool":{"type":"string"},"fetchedAt":{"type":"string"},"x402Lead":{"$ref":"#/components/schemas/ApiMarketX402Lead"}},"required":["ok","tool","fetchedAt"],"additionalProperties":true},"example":{"ok":true,"tool":"sortLines","text":"10\n2\nalpha\nbeta","lines":["10","2","alpha","beta"],"lineCount":4,"fetchedAt":"2026-06-10T00:00:00.000Z","x402Lead":{"paidChatTier":"https://gpt55.558686.xyz/v1/chat/completions/gpt-5.5","merchantReadiness":"https://gpt55.558686.xyz/x402/merchant-readiness","x402Discovery":"https://gpt55.558686.xyz/.well-known/x402","trackedPaidChatTier":"https://gpt55.558686.xyz/go/api-market/gpt55-chat-tier","trackedMerchantReadiness":"https://gpt55.558686.xyz/go/api-market/merchant-readiness","trackedX402Discovery":"https://gpt55.558686.xyz/go/api-market/x402-discovery","note":"This API.market utility response is deterministic lead-gen. GPT-5.5 quota-tier chat, high-value seller reports, and merchant-readiness products are discoverable through the unified service hub and x402 discovery."}}}}},"400":{"description":"Invalid input","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMarketError"}}}},"429":{"description":"Rate limit exceeded","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMarketError"}}}}}}},"/v1/tools/diff-lines":{"get":{"summary":"Compare line sets via query parameters","operationId":"diffLinesApiMarketGet","tags":["utility-tools","diff","line-diff","compare","developer-tool","text-processing","utility","no-llm"],"description":"Compare two newline-separated text blocks and return added, removed, and unchanged line sets without calling an upstream model. This API.market source endpoint is deterministic local compute only and has no upstream token cost. Use API.market pricing plans for subscriber billing and access control.","security":[],"parameters":[{"name":"before","in":"query","required":true,"schema":{"type":"string","maxLength":50000},"example":"alpha\nbeta"},{"name":"after","in":"query","required":true,"schema":{"type":"string","maxLength":50000},"example":"beta\ngamma"}],"responses":{"200":{"description":"Compare line sets","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean"},"tool":{"type":"string"},"fetchedAt":{"type":"string"},"x402Lead":{"$ref":"#/components/schemas/ApiMarketX402Lead"}},"required":["ok","tool","fetchedAt"],"additionalProperties":true},"example":{"ok":true,"tool":"diffLines","added":["gamma"],"removed":["alpha"],"unchanged":["beta"],"addedCount":1,"removedCount":1,"unchangedCount":1,"fetchedAt":"2026-06-10T00:00:00.000Z","x402Lead":{"paidChatTier":"https://gpt55.558686.xyz/v1/chat/completions/gpt-5.5","merchantReadiness":"https://gpt55.558686.xyz/x402/merchant-readiness","x402Discovery":"https://gpt55.558686.xyz/.well-known/x402","trackedPaidChatTier":"https://gpt55.558686.xyz/go/api-market/gpt55-chat-tier","trackedMerchantReadiness":"https://gpt55.558686.xyz/go/api-market/merchant-readiness","trackedX402Discovery":"https://gpt55.558686.xyz/go/api-market/x402-discovery","note":"This API.market utility response is deterministic lead-gen. GPT-5.5 quota-tier chat, high-value seller reports, and merchant-readiness products are discoverable through the unified service hub and x402 discovery."}}}}},"400":{"description":"Invalid input","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMarketError"}}}},"429":{"description":"Rate limit exceeded","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMarketError"}}}}}},"post":{"summary":"Compare line sets","operationId":"diffLinesApiMarketPost","tags":["utility-tools","diff","line-diff","compare","developer-tool","text-processing","utility","no-llm"],"description":"Compare two newline-separated text blocks and return added, removed, and unchanged line sets without calling an upstream model. This API.market source endpoint is deterministic local compute only and has no upstream token cost. Use API.market pricing plans for subscriber billing and access control.","security":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"before":{"type":"string","maxLength":50000},"after":{"type":"string","maxLength":50000}},"required":["before","after"],"additionalProperties":false},"examples":{"simple":{"value":{"before":"alpha\nbeta","after":"beta\ngamma"}}}}}},"responses":{"200":{"description":"Compare line sets","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean"},"tool":{"type":"string"},"fetchedAt":{"type":"string"},"x402Lead":{"$ref":"#/components/schemas/ApiMarketX402Lead"}},"required":["ok","tool","fetchedAt"],"additionalProperties":true},"example":{"ok":true,"tool":"diffLines","added":["gamma"],"removed":["alpha"],"unchanged":["beta"],"addedCount":1,"removedCount":1,"unchangedCount":1,"fetchedAt":"2026-06-10T00:00:00.000Z","x402Lead":{"paidChatTier":"https://gpt55.558686.xyz/v1/chat/completions/gpt-5.5","merchantReadiness":"https://gpt55.558686.xyz/x402/merchant-readiness","x402Discovery":"https://gpt55.558686.xyz/.well-known/x402","trackedPaidChatTier":"https://gpt55.558686.xyz/go/api-market/gpt55-chat-tier","trackedMerchantReadiness":"https://gpt55.558686.xyz/go/api-market/merchant-readiness","trackedX402Discovery":"https://gpt55.558686.xyz/go/api-market/x402-discovery","note":"This API.market utility response is deterministic lead-gen. GPT-5.5 quota-tier chat, high-value seller reports, and merchant-readiness products are discoverable through the unified service hub and x402 discovery."}}}}},"400":{"description":"Invalid input","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMarketError"}}}},"429":{"description":"Rate limit exceeded","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMarketError"}}}}}}},"/v1/tools/json-minify":{"get":{"summary":"Minify JSON via query parameters","operationId":"minifyJsonApiMarketGet","tags":["utility-tools","json-minify","json","formatting","developer-tool","parsing","utility","no-llm"],"description":"Parse and minify JSON text or a JSON value without calling an upstream model. This API.market source endpoint is deterministic local compute only and has no upstream token cost. Use API.market pricing plans for subscriber billing and access control.","security":[],"parameters":[{"name":"json","in":"query","required":false,"schema":{"type":"string","description":"Pass the value as text; JSON text is accepted for structured JSON values."},"example":"{ \"ok\": true, \"items\": [1, 2] }","description":"Query values are strings; pass JSON text for structured values."},{"name":"text","in":"query","required":false,"schema":{"type":"string"}},{"name":"value","in":"query","required":false,"schema":{"type":"string","description":"Any JSON value"},"description":"Any JSON value"}],"responses":{"200":{"description":"Minify JSON","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean"},"tool":{"type":"string"},"fetchedAt":{"type":"string"},"x402Lead":{"$ref":"#/components/schemas/ApiMarketX402Lead"}},"required":["ok","tool","fetchedAt"],"additionalProperties":true},"example":{"ok":true,"tool":"jsonMinify","valid":true,"minified":"{\"ok\":true,\"items\":[1,2]}","bytes":25,"fetchedAt":"2026-06-10T00:00:00.000Z","x402Lead":{"paidChatTier":"https://gpt55.558686.xyz/v1/chat/completions/gpt-5.5","merchantReadiness":"https://gpt55.558686.xyz/x402/merchant-readiness","x402Discovery":"https://gpt55.558686.xyz/.well-known/x402","trackedPaidChatTier":"https://gpt55.558686.xyz/go/api-market/gpt55-chat-tier","trackedMerchantReadiness":"https://gpt55.558686.xyz/go/api-market/merchant-readiness","trackedX402Discovery":"https://gpt55.558686.xyz/go/api-market/x402-discovery","note":"This API.market utility response is deterministic lead-gen. GPT-5.5 quota-tier chat, high-value seller reports, and merchant-readiness products are discoverable through the unified service hub and x402 discovery."}}}}},"400":{"description":"Invalid input","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMarketError"}}}},"429":{"description":"Rate limit exceeded","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMarketError"}}}}}},"post":{"summary":"Minify JSON","operationId":"minifyJsonApiMarketPost","tags":["utility-tools","json-minify","json","formatting","developer-tool","parsing","utility","no-llm"],"description":"Parse and minify JSON text or a JSON value without calling an upstream model. This API.market source endpoint is deterministic local compute only and has no upstream token cost. Use API.market pricing plans for subscriber billing and access control.","security":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"json":{"oneOf":[{"type":"string"},{"type":"object","additionalProperties":true},{"type":"array"},{"type":"number"},{"type":"boolean"},{"type":"null"}]},"text":{"type":"string"},"value":{"description":"Any JSON value"}},"additionalProperties":false},"examples":{"simple":{"value":{"json":"{ \"ok\": true, \"items\": [1, 2] }"}}}}}},"responses":{"200":{"description":"Minify JSON","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean"},"tool":{"type":"string"},"fetchedAt":{"type":"string"},"x402Lead":{"$ref":"#/components/schemas/ApiMarketX402Lead"}},"required":["ok","tool","fetchedAt"],"additionalProperties":true},"example":{"ok":true,"tool":"jsonMinify","valid":true,"minified":"{\"ok\":true,\"items\":[1,2]}","bytes":25,"fetchedAt":"2026-06-10T00:00:00.000Z","x402Lead":{"paidChatTier":"https://gpt55.558686.xyz/v1/chat/completions/gpt-5.5","merchantReadiness":"https://gpt55.558686.xyz/x402/merchant-readiness","x402Discovery":"https://gpt55.558686.xyz/.well-known/x402","trackedPaidChatTier":"https://gpt55.558686.xyz/go/api-market/gpt55-chat-tier","trackedMerchantReadiness":"https://gpt55.558686.xyz/go/api-market/merchant-readiness","trackedX402Discovery":"https://gpt55.558686.xyz/go/api-market/x402-discovery","note":"This API.market utility response is deterministic lead-gen. GPT-5.5 quota-tier chat, high-value seller reports, and merchant-readiness products are discoverable through the unified service hub and x402 discovery."}}}}},"400":{"description":"Invalid input","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMarketError"}}}},"429":{"description":"Rate limit exceeded","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMarketError"}}}}}}},"/v1/tools/uri-codec":{"get":{"summary":"Encode or decode URI text via query parameters","operationId":"uriCodecApiMarketGet","tags":["utility-tools","uri","url-encode","decode","developer-tool","codec","utility","no-llm"],"description":"Encode or decode URI components or full URI strings without calling an upstream model. This API.market source endpoint is deterministic local compute only and has no upstream token cost. Use API.market pricing plans for subscriber billing and access control.","security":[],"parameters":[{"name":"mode","in":"query","required":false,"schema":{"type":"string","enum":["encode","decode"]},"example":"encode"},{"name":"text","in":"query","required":true,"schema":{"type":"string","minLength":1,"maxLength":20000},"example":"hello world"},{"name":"component","in":"query","required":false,"schema":{"type":"boolean"},"example":"true"}],"responses":{"200":{"description":"Encode or decode URI text","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean"},"tool":{"type":"string"},"fetchedAt":{"type":"string"},"x402Lead":{"$ref":"#/components/schemas/ApiMarketX402Lead"}},"required":["ok","tool","fetchedAt"],"additionalProperties":true},"example":{"ok":true,"tool":"uriCodec","mode":"encode","component":true,"output":"hello%20world","fetchedAt":"2026-06-10T00:00:00.000Z","x402Lead":{"paidChatTier":"https://gpt55.558686.xyz/v1/chat/completions/gpt-5.5","merchantReadiness":"https://gpt55.558686.xyz/x402/merchant-readiness","x402Discovery":"https://gpt55.558686.xyz/.well-known/x402","trackedPaidChatTier":"https://gpt55.558686.xyz/go/api-market/gpt55-chat-tier","trackedMerchantReadiness":"https://gpt55.558686.xyz/go/api-market/merchant-readiness","trackedX402Discovery":"https://gpt55.558686.xyz/go/api-market/x402-discovery","note":"This API.market utility response is deterministic lead-gen. GPT-5.5 quota-tier chat, high-value seller reports, and merchant-readiness products are discoverable through the unified service hub and x402 discovery."}}}}},"400":{"description":"Invalid input","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMarketError"}}}},"429":{"description":"Rate limit exceeded","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMarketError"}}}}}},"post":{"summary":"Encode or decode URI text","operationId":"uriCodecApiMarketPost","tags":["utility-tools","uri","url-encode","decode","developer-tool","codec","utility","no-llm"],"description":"Encode or decode URI components or full URI strings without calling an upstream model. This API.market source endpoint is deterministic local compute only and has no upstream token cost. Use API.market pricing plans for subscriber billing and access control.","security":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"mode":{"type":"string","enum":["encode","decode"]},"text":{"type":"string","minLength":1,"maxLength":20000},"component":{"type":"boolean"}},"required":["text"],"additionalProperties":false},"examples":{"simple":{"value":{"mode":"encode","text":"hello world","component":true}}}}}},"responses":{"200":{"description":"Encode or decode URI text","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean"},"tool":{"type":"string"},"fetchedAt":{"type":"string"},"x402Lead":{"$ref":"#/components/schemas/ApiMarketX402Lead"}},"required":["ok","tool","fetchedAt"],"additionalProperties":true},"example":{"ok":true,"tool":"uriCodec","mode":"encode","component":true,"output":"hello%20world","fetchedAt":"2026-06-10T00:00:00.000Z","x402Lead":{"paidChatTier":"https://gpt55.558686.xyz/v1/chat/completions/gpt-5.5","merchantReadiness":"https://gpt55.558686.xyz/x402/merchant-readiness","x402Discovery":"https://gpt55.558686.xyz/.well-known/x402","trackedPaidChatTier":"https://gpt55.558686.xyz/go/api-market/gpt55-chat-tier","trackedMerchantReadiness":"https://gpt55.558686.xyz/go/api-market/merchant-readiness","trackedX402Discovery":"https://gpt55.558686.xyz/go/api-market/x402-discovery","note":"This API.market utility response is deterministic lead-gen. GPT-5.5 quota-tier chat, high-value seller reports, and merchant-readiness products are discoverable through the unified service hub and x402 discovery."}}}}},"400":{"description":"Invalid input","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMarketError"}}}},"429":{"description":"Rate limit exceeded","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMarketError"}}}}}}},"/v1/tools/html-entity-codec":{"get":{"summary":"Escape or unescape HTML entities via query parameters","operationId":"htmlEntityCodecApiMarketGet","tags":["utility-tools","html-entities","escape","unescape","developer-tool","codec","utility","no-llm"],"description":"Escape text for HTML/XML or decode common HTML entities without calling an upstream model. This API.market source endpoint is deterministic local compute only and has no upstream token cost. Use API.market pricing plans for subscriber billing and access control.","security":[],"parameters":[{"name":"mode","in":"query","required":false,"schema":{"type":"string","enum":["escape","unescape"]},"example":"escape"},{"name":"text","in":"query","required":true,"schema":{"type":"string","minLength":1,"maxLength":20000},"example":"<hello & x402>"}],"responses":{"200":{"description":"Escape or unescape HTML entities","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean"},"tool":{"type":"string"},"fetchedAt":{"type":"string"},"x402Lead":{"$ref":"#/components/schemas/ApiMarketX402Lead"}},"required":["ok","tool","fetchedAt"],"additionalProperties":true},"example":{"ok":true,"tool":"htmlEntityCodec","mode":"escape","output":"&lt;hello &amp; x402&gt;","fetchedAt":"2026-06-10T00:00:00.000Z","x402Lead":{"paidChatTier":"https://gpt55.558686.xyz/v1/chat/completions/gpt-5.5","merchantReadiness":"https://gpt55.558686.xyz/x402/merchant-readiness","x402Discovery":"https://gpt55.558686.xyz/.well-known/x402","trackedPaidChatTier":"https://gpt55.558686.xyz/go/api-market/gpt55-chat-tier","trackedMerchantReadiness":"https://gpt55.558686.xyz/go/api-market/merchant-readiness","trackedX402Discovery":"https://gpt55.558686.xyz/go/api-market/x402-discovery","note":"This API.market utility response is deterministic lead-gen. GPT-5.5 quota-tier chat, high-value seller reports, and merchant-readiness products are discoverable through the unified service hub and x402 discovery."}}}}},"400":{"description":"Invalid input","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMarketError"}}}},"429":{"description":"Rate limit exceeded","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMarketError"}}}}}},"post":{"summary":"Escape or unescape HTML entities","operationId":"htmlEntityCodecApiMarketPost","tags":["utility-tools","html-entities","escape","unescape","developer-tool","codec","utility","no-llm"],"description":"Escape text for HTML/XML or decode common HTML entities without calling an upstream model. This API.market source endpoint is deterministic local compute only and has no upstream token cost. Use API.market pricing plans for subscriber billing and access control.","security":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"mode":{"type":"string","enum":["escape","unescape"]},"text":{"type":"string","minLength":1,"maxLength":20000}},"required":["text"],"additionalProperties":false},"examples":{"simple":{"value":{"mode":"escape","text":"<hello & x402>"}}}}}},"responses":{"200":{"description":"Escape or unescape HTML entities","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean"},"tool":{"type":"string"},"fetchedAt":{"type":"string"},"x402Lead":{"$ref":"#/components/schemas/ApiMarketX402Lead"}},"required":["ok","tool","fetchedAt"],"additionalProperties":true},"example":{"ok":true,"tool":"htmlEntityCodec","mode":"escape","output":"&lt;hello &amp; x402&gt;","fetchedAt":"2026-06-10T00:00:00.000Z","x402Lead":{"paidChatTier":"https://gpt55.558686.xyz/v1/chat/completions/gpt-5.5","merchantReadiness":"https://gpt55.558686.xyz/x402/merchant-readiness","x402Discovery":"https://gpt55.558686.xyz/.well-known/x402","trackedPaidChatTier":"https://gpt55.558686.xyz/go/api-market/gpt55-chat-tier","trackedMerchantReadiness":"https://gpt55.558686.xyz/go/api-market/merchant-readiness","trackedX402Discovery":"https://gpt55.558686.xyz/go/api-market/x402-discovery","note":"This API.market utility response is deterministic lead-gen. GPT-5.5 quota-tier chat, high-value seller reports, and merchant-readiness products are discoverable through the unified service hub and x402 discovery."}}}}},"400":{"description":"Invalid input","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMarketError"}}}},"429":{"description":"Rate limit exceeded","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMarketError"}}}}}}},"/v1/tools/email-normalize":{"get":{"summary":"Normalize and validate email shape via query parameters","operationId":"normalizeEmailApiMarketGet","tags":["utility-tools","email","normalize","validation","developer-tool","data-cleanup","utility","no-llm"],"description":"Trim, split, and normalize a simple email address shape without sending mail, DNS checks, or upstream model calls. This API.market source endpoint is deterministic local compute only and has no upstream token cost. Use API.market pricing plans for subscriber billing and access control.","security":[],"parameters":[{"name":"email","in":"query","required":true,"schema":{"type":"string","minLength":1,"maxLength":320},"example":" Alice@Example.COM "}],"responses":{"200":{"description":"Normalize and validate email shape","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean"},"tool":{"type":"string"},"fetchedAt":{"type":"string"},"x402Lead":{"$ref":"#/components/schemas/ApiMarketX402Lead"}},"required":["ok","tool","fetchedAt"],"additionalProperties":true},"example":{"ok":true,"tool":"emailNormalize","valid":true,"local":"Alice","domain":"example.com","normalized":"Alice@example.com","fetchedAt":"2026-06-10T00:00:00.000Z","x402Lead":{"paidChatTier":"https://gpt55.558686.xyz/v1/chat/completions/gpt-5.5","merchantReadiness":"https://gpt55.558686.xyz/x402/merchant-readiness","x402Discovery":"https://gpt55.558686.xyz/.well-known/x402","trackedPaidChatTier":"https://gpt55.558686.xyz/go/api-market/gpt55-chat-tier","trackedMerchantReadiness":"https://gpt55.558686.xyz/go/api-market/merchant-readiness","trackedX402Discovery":"https://gpt55.558686.xyz/go/api-market/x402-discovery","note":"This API.market utility response is deterministic lead-gen. GPT-5.5 quota-tier chat, high-value seller reports, and merchant-readiness products are discoverable through the unified service hub and x402 discovery."}}}}},"400":{"description":"Invalid input","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMarketError"}}}},"429":{"description":"Rate limit exceeded","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMarketError"}}}}}},"post":{"summary":"Normalize and validate email shape","operationId":"normalizeEmailApiMarketPost","tags":["utility-tools","email","normalize","validation","developer-tool","data-cleanup","utility","no-llm"],"description":"Trim, split, and normalize a simple email address shape without sending mail, DNS checks, or upstream model calls. This API.market source endpoint is deterministic local compute only and has no upstream token cost. Use API.market pricing plans for subscriber billing and access control.","security":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"email":{"type":"string","minLength":1,"maxLength":320}},"required":["email"],"additionalProperties":false},"examples":{"simple":{"value":{"email":" Alice@Example.COM "}}}}}},"responses":{"200":{"description":"Normalize and validate email shape","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean"},"tool":{"type":"string"},"fetchedAt":{"type":"string"},"x402Lead":{"$ref":"#/components/schemas/ApiMarketX402Lead"}},"required":["ok","tool","fetchedAt"],"additionalProperties":true},"example":{"ok":true,"tool":"emailNormalize","valid":true,"local":"Alice","domain":"example.com","normalized":"Alice@example.com","fetchedAt":"2026-06-10T00:00:00.000Z","x402Lead":{"paidChatTier":"https://gpt55.558686.xyz/v1/chat/completions/gpt-5.5","merchantReadiness":"https://gpt55.558686.xyz/x402/merchant-readiness","x402Discovery":"https://gpt55.558686.xyz/.well-known/x402","trackedPaidChatTier":"https://gpt55.558686.xyz/go/api-market/gpt55-chat-tier","trackedMerchantReadiness":"https://gpt55.558686.xyz/go/api-market/merchant-readiness","trackedX402Discovery":"https://gpt55.558686.xyz/go/api-market/x402-discovery","note":"This API.market utility response is deterministic lead-gen. GPT-5.5 quota-tier chat, high-value seller reports, and merchant-readiness products are discoverable through the unified service hub and x402 discovery."}}}}},"400":{"description":"Invalid input","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMarketError"}}}},"429":{"description":"Rate limit exceeded","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMarketError"}}}}}}},"/v1/tools/domain-extract":{"get":{"summary":"Extract host and naive domain parts via query parameters","operationId":"extractDomainApiMarketGet","tags":["utility-tools","domain","hostname","url","developer-tool","web","utility","no-llm"],"description":"Extract hostname, labels, subdomain, and a naive last-two-label registrable domain from a URL or hostname without DNS or upstream model calls. This API.market source endpoint is deterministic local compute only and has no upstream token cost. Use API.market pricing plans for subscriber billing and access control.","security":[],"parameters":[{"name":"url","in":"query","required":false,"schema":{"type":"string","maxLength":2048},"example":"https://api.example.com/path"},{"name":"hostname","in":"query","required":false,"schema":{"type":"string","maxLength":253}}],"responses":{"200":{"description":"Extract host and naive domain parts","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean"},"tool":{"type":"string"},"fetchedAt":{"type":"string"},"x402Lead":{"$ref":"#/components/schemas/ApiMarketX402Lead"}},"required":["ok","tool","fetchedAt"],"additionalProperties":true},"example":{"ok":true,"tool":"domainExtract","hostname":"api.example.com","labels":["api","example","com"],"subdomain":"api","domain":"example.com","fetchedAt":"2026-06-10T00:00:00.000Z","x402Lead":{"paidChatTier":"https://gpt55.558686.xyz/v1/chat/completions/gpt-5.5","merchantReadiness":"https://gpt55.558686.xyz/x402/merchant-readiness","x402Discovery":"https://gpt55.558686.xyz/.well-known/x402","trackedPaidChatTier":"https://gpt55.558686.xyz/go/api-market/gpt55-chat-tier","trackedMerchantReadiness":"https://gpt55.558686.xyz/go/api-market/merchant-readiness","trackedX402Discovery":"https://gpt55.558686.xyz/go/api-market/x402-discovery","note":"This API.market utility response is deterministic lead-gen. GPT-5.5 quota-tier chat, high-value seller reports, and merchant-readiness products are discoverable through the unified service hub and x402 discovery."}}}}},"400":{"description":"Invalid input","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMarketError"}}}},"429":{"description":"Rate limit exceeded","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMarketError"}}}}}},"post":{"summary":"Extract host and naive domain parts","operationId":"extractDomainApiMarketPost","tags":["utility-tools","domain","hostname","url","developer-tool","web","utility","no-llm"],"description":"Extract hostname, labels, subdomain, and a naive last-two-label registrable domain from a URL or hostname without DNS or upstream model calls. This API.market source endpoint is deterministic local compute only and has no upstream token cost. Use API.market pricing plans for subscriber billing and access control.","security":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"url":{"type":"string","maxLength":2048},"hostname":{"type":"string","maxLength":253}},"additionalProperties":false},"examples":{"simple":{"value":{"url":"https://api.example.com/path"}}}}}},"responses":{"200":{"description":"Extract host and naive domain parts","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean"},"tool":{"type":"string"},"fetchedAt":{"type":"string"},"x402Lead":{"$ref":"#/components/schemas/ApiMarketX402Lead"}},"required":["ok","tool","fetchedAt"],"additionalProperties":true},"example":{"ok":true,"tool":"domainExtract","hostname":"api.example.com","labels":["api","example","com"],"subdomain":"api","domain":"example.com","fetchedAt":"2026-06-10T00:00:00.000Z","x402Lead":{"paidChatTier":"https://gpt55.558686.xyz/v1/chat/completions/gpt-5.5","merchantReadiness":"https://gpt55.558686.xyz/x402/merchant-readiness","x402Discovery":"https://gpt55.558686.xyz/.well-known/x402","trackedPaidChatTier":"https://gpt55.558686.xyz/go/api-market/gpt55-chat-tier","trackedMerchantReadiness":"https://gpt55.558686.xyz/go/api-market/merchant-readiness","trackedX402Discovery":"https://gpt55.558686.xyz/go/api-market/x402-discovery","note":"This API.market utility response is deterministic lead-gen. GPT-5.5 quota-tier chat, high-value seller reports, and merchant-readiness products are discoverable through the unified service hub and x402 discovery."}}}}},"400":{"description":"Invalid input","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMarketError"}}}},"429":{"description":"Rate limit exceeded","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMarketError"}}}}}}},"/v1/tools/color-convert":{"get":{"summary":"Convert hex colors to RGB and HSL via query parameters","operationId":"convertColorApiMarketGet","tags":["utility-tools","color","hex","rgb","hsl","developer-tool","utility","no-llm"],"description":"Parse #RGB or #RRGGBB colors and return RGB/HSL values without calling an upstream model. This API.market source endpoint is deterministic local compute only and has no upstream token cost. Use API.market pricing plans for subscriber billing and access control.","security":[],"parameters":[{"name":"hex","in":"query","required":true,"schema":{"type":"string","minLength":3,"maxLength":9},"example":"#22c55e"}],"responses":{"200":{"description":"Convert hex colors to RGB and HSL","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean"},"tool":{"type":"string"},"fetchedAt":{"type":"string"},"x402Lead":{"$ref":"#/components/schemas/ApiMarketX402Lead"}},"required":["ok","tool","fetchedAt"],"additionalProperties":true},"example":{"ok":true,"tool":"colorConvert","hex":"#22c55e","rgb":{"r":34,"g":197,"b":94},"hsl":{"h":142,"s":71,"l":45},"fetchedAt":"2026-06-10T00:00:00.000Z","x402Lead":{"paidChatTier":"https://gpt55.558686.xyz/v1/chat/completions/gpt-5.5","merchantReadiness":"https://gpt55.558686.xyz/x402/merchant-readiness","x402Discovery":"https://gpt55.558686.xyz/.well-known/x402","trackedPaidChatTier":"https://gpt55.558686.xyz/go/api-market/gpt55-chat-tier","trackedMerchantReadiness":"https://gpt55.558686.xyz/go/api-market/merchant-readiness","trackedX402Discovery":"https://gpt55.558686.xyz/go/api-market/x402-discovery","note":"This API.market utility response is deterministic lead-gen. GPT-5.5 quota-tier chat, high-value seller reports, and merchant-readiness products are discoverable through the unified service hub and x402 discovery."}}}}},"400":{"description":"Invalid input","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMarketError"}}}},"429":{"description":"Rate limit exceeded","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMarketError"}}}}}},"post":{"summary":"Convert hex colors to RGB and HSL","operationId":"convertColorApiMarketPost","tags":["utility-tools","color","hex","rgb","hsl","developer-tool","utility","no-llm"],"description":"Parse #RGB or #RRGGBB colors and return RGB/HSL values without calling an upstream model. This API.market source endpoint is deterministic local compute only and has no upstream token cost. Use API.market pricing plans for subscriber billing and access control.","security":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"hex":{"type":"string","minLength":3,"maxLength":9}},"required":["hex"],"additionalProperties":false},"examples":{"simple":{"value":{"hex":"#22c55e"}}}}}},"responses":{"200":{"description":"Convert hex colors to RGB and HSL","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean"},"tool":{"type":"string"},"fetchedAt":{"type":"string"},"x402Lead":{"$ref":"#/components/schemas/ApiMarketX402Lead"}},"required":["ok","tool","fetchedAt"],"additionalProperties":true},"example":{"ok":true,"tool":"colorConvert","hex":"#22c55e","rgb":{"r":34,"g":197,"b":94},"hsl":{"h":142,"s":71,"l":45},"fetchedAt":"2026-06-10T00:00:00.000Z","x402Lead":{"paidChatTier":"https://gpt55.558686.xyz/v1/chat/completions/gpt-5.5","merchantReadiness":"https://gpt55.558686.xyz/x402/merchant-readiness","x402Discovery":"https://gpt55.558686.xyz/.well-known/x402","trackedPaidChatTier":"https://gpt55.558686.xyz/go/api-market/gpt55-chat-tier","trackedMerchantReadiness":"https://gpt55.558686.xyz/go/api-market/merchant-readiness","trackedX402Discovery":"https://gpt55.558686.xyz/go/api-market/x402-discovery","note":"This API.market utility response is deterministic lead-gen. GPT-5.5 quota-tier chat, high-value seller reports, and merchant-readiness products are discoverable through the unified service hub and x402 discovery."}}}}},"400":{"description":"Invalid input","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMarketError"}}}},"429":{"description":"Rate limit exceeded","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMarketError"}}}}}}},"/v1/tools/uuid":{"get":{"summary":"Generate UUID v4 values via query parameters","operationId":"generateUuidApiMarketGet","tags":["utility-tools","uuid","id","random","developer-tool","generator","utility","no-llm"],"description":"Generate one or more UUID v4 values locally without calling an upstream model. This API.market source endpoint is deterministic local compute only and has no upstream token cost. Use API.market pricing plans for subscriber billing and access control.","security":[],"parameters":[{"name":"count","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":20},"example":"1"}],"responses":{"200":{"description":"Generate UUID v4 values","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean"},"tool":{"type":"string"},"fetchedAt":{"type":"string"},"x402Lead":{"$ref":"#/components/schemas/ApiMarketX402Lead"}},"required":["ok","tool","fetchedAt"],"additionalProperties":true},"example":{"ok":true,"tool":"uuid","uuids":["123e4567-e89b-42d3-a456-426614174000"],"count":1,"fetchedAt":"2026-06-10T00:00:00.000Z","x402Lead":{"paidChatTier":"https://gpt55.558686.xyz/v1/chat/completions/gpt-5.5","merchantReadiness":"https://gpt55.558686.xyz/x402/merchant-readiness","x402Discovery":"https://gpt55.558686.xyz/.well-known/x402","trackedPaidChatTier":"https://gpt55.558686.xyz/go/api-market/gpt55-chat-tier","trackedMerchantReadiness":"https://gpt55.558686.xyz/go/api-market/merchant-readiness","trackedX402Discovery":"https://gpt55.558686.xyz/go/api-market/x402-discovery","note":"This API.market utility response is deterministic lead-gen. GPT-5.5 quota-tier chat, high-value seller reports, and merchant-readiness products are discoverable through the unified service hub and x402 discovery."}}}}},"400":{"description":"Invalid input","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMarketError"}}}},"429":{"description":"Rate limit exceeded","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMarketError"}}}}}},"post":{"summary":"Generate UUID v4 values","operationId":"generateUuidApiMarketPost","tags":["utility-tools","uuid","id","random","developer-tool","generator","utility","no-llm"],"description":"Generate one or more UUID v4 values locally without calling an upstream model. This API.market source endpoint is deterministic local compute only and has no upstream token cost. Use API.market pricing plans for subscriber billing and access control.","security":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"count":{"type":"integer","minimum":1,"maximum":20}},"additionalProperties":false},"examples":{"simple":{"value":{"count":1}}}}}},"responses":{"200":{"description":"Generate UUID v4 values","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean"},"tool":{"type":"string"},"fetchedAt":{"type":"string"},"x402Lead":{"$ref":"#/components/schemas/ApiMarketX402Lead"}},"required":["ok","tool","fetchedAt"],"additionalProperties":true},"example":{"ok":true,"tool":"uuid","uuids":["123e4567-e89b-42d3-a456-426614174000"],"count":1,"fetchedAt":"2026-06-10T00:00:00.000Z","x402Lead":{"paidChatTier":"https://gpt55.558686.xyz/v1/chat/completions/gpt-5.5","merchantReadiness":"https://gpt55.558686.xyz/x402/merchant-readiness","x402Discovery":"https://gpt55.558686.xyz/.well-known/x402","trackedPaidChatTier":"https://gpt55.558686.xyz/go/api-market/gpt55-chat-tier","trackedMerchantReadiness":"https://gpt55.558686.xyz/go/api-market/merchant-readiness","trackedX402Discovery":"https://gpt55.558686.xyz/go/api-market/x402-discovery","note":"This API.market utility response is deterministic lead-gen. GPT-5.5 quota-tier chat, high-value seller reports, and merchant-readiness products are discoverable through the unified service hub and x402 discovery."}}}}},"400":{"description":"Invalid input","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMarketError"}}}},"429":{"description":"Rate limit exceeded","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMarketError"}}}}}}},"/v1/tools/json-keys":{"get":{"summary":"List JSON key paths via query parameters","operationId":"listJsonKeysApiMarketGet","tags":["utility-tools","json-keys","json","schema","developer-tool","parsing","utility","no-llm"],"description":"Parse JSON and return bounded key paths for objects and arrays without calling an upstream model. This API.market source endpoint is deterministic local compute only and has no upstream token cost. Use API.market pricing plans for subscriber billing and access control.","security":[],"parameters":[{"name":"json","in":"query","required":false,"schema":{"type":"string","description":"Pass the value as text; JSON text is accepted for structured JSON values."},"example":"{\"user\":{\"name\":\"Alice\"},\"items\":[1,2]}","description":"Query values are strings; pass JSON text for structured values."},{"name":"text","in":"query","required":false,"schema":{"type":"string"}},{"name":"max_depth","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":8},"example":"4"},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":500}}],"responses":{"200":{"description":"List JSON key paths","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean"},"tool":{"type":"string"},"fetchedAt":{"type":"string"},"x402Lead":{"$ref":"#/components/schemas/ApiMarketX402Lead"}},"required":["ok","tool","fetchedAt"],"additionalProperties":true},"example":{"ok":true,"tool":"jsonKeys","paths":["user","user.name","items","items[]"],"count":4,"truncated":false,"fetchedAt":"2026-06-10T00:00:00.000Z","x402Lead":{"paidChatTier":"https://gpt55.558686.xyz/v1/chat/completions/gpt-5.5","merchantReadiness":"https://gpt55.558686.xyz/x402/merchant-readiness","x402Discovery":"https://gpt55.558686.xyz/.well-known/x402","trackedPaidChatTier":"https://gpt55.558686.xyz/go/api-market/gpt55-chat-tier","trackedMerchantReadiness":"https://gpt55.558686.xyz/go/api-market/merchant-readiness","trackedX402Discovery":"https://gpt55.558686.xyz/go/api-market/x402-discovery","note":"This API.market utility response is deterministic lead-gen. GPT-5.5 quota-tier chat, high-value seller reports, and merchant-readiness products are discoverable through the unified service hub and x402 discovery."}}}}},"400":{"description":"Invalid input","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMarketError"}}}},"429":{"description":"Rate limit exceeded","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMarketError"}}}}}},"post":{"summary":"List JSON key paths","operationId":"listJsonKeysApiMarketPost","tags":["utility-tools","json-keys","json","schema","developer-tool","parsing","utility","no-llm"],"description":"Parse JSON and return bounded key paths for objects and arrays without calling an upstream model. This API.market source endpoint is deterministic local compute only and has no upstream token cost. Use API.market pricing plans for subscriber billing and access control.","security":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"json":{"oneOf":[{"type":"string"},{"type":"object","additionalProperties":true},{"type":"array"}]},"text":{"type":"string"},"max_depth":{"type":"integer","minimum":1,"maximum":8},"limit":{"type":"integer","minimum":1,"maximum":500}},"additionalPro
[...]
