{
  "openapi": "3.1.0",
  "info": {
    "title": "Sub2API OpenAI-compatible API",
    "version": "2026-06-28",
    "description": "Core OpenAI-compatible routes for sub2api. No secrets are included."
  },
  "servers": [
    {
      "url": "https://sub2api.558686.xyz"
    }
  ],
  "paths": {
    "/v1/models": {
      "get": {
        "summary": "List models available to the API key",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Model list"
          },
          "401": {
            "description": "Missing or invalid API key"
          }
        }
      }
    },
    "/v1/chat/completions": {
      "post": {
        "summary": "Create a chat completion",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Chat completion"
          },
          "401": {
            "description": "Missing or invalid API key"
          }
        }
      }
    },
    "/v1/responses": {
      "post": {
        "summary": "Create a Responses API response",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Response object"
          },
          "401": {
            "description": "Missing or invalid API key"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API key"
      }
    }
  }
}